html,
body {
  font-family: "Courier New", Courier, monospace;
  background-color: #222222;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  text-align: left;
  width: 600px;
}

.cursor {
  display: inline-block;
  width: 1px;
  height: 1em;
  background-color: lightgray;
  margin-left: 1px;
  margin-right: -1px; /* keeps alignment tight */
  animation: blink 1s steps(2, start) infinite;
  vertical-align: text-bottom;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
